html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(90, 91, 113);
    
}
.center{
    justify-content: center;   
}
.none{
    display: none;
}
.header{
    height: 8em;
    
}

.direction{
    flex-direction: column;
}
.blue{
    background-color: rgb(34, 141, 218);  
    font-family: 'Anton', sans-serif;;
}

.white{
    color: rgb(255, 255, 255); 

}

/* cajas inicio  */
.first-box{
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    box-shadow: 5%;
    border: black solid 0.3em;
}


.start{
    width: 80%;
    height: 30%;
    background-color:  rgb(34, 141, 218)      ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
.place{
    width: 100%;
    display: flex;
    justify-content: center;   
}


.square{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.916);
    font-size: 2em;
    color: rgb(34, 141, 218);
}
.player{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 141, 218);
    font-family:  'Anton', sans-serif; 
    height: 3em;
    border-radius: 5%;
}
.end{ 
    height: 2em;
    background-color: rgb(34, 141, 218);
}

.filling{
    height: 8em;
    align-items: center;
}

.bot{
    height: 2em;
    background-color: rgb(34, 141, 218) ;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}


.bot2{
    height: 2em;
    background-color: rgb(34, 141, 218) ;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}
.winner{
    height: 10em;
    background-color:  rgb(34, 141, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.winner h1{
    font-family: 'Anton', sans-serif;
    color: white;
}

.lastbtn{
    height: 3em;
    background-color: rgb(34, 141, 218) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Anton', sans-serif; 
}
.ceil{
    height: 5em;
}

.btn{
    border-radius: 50%;
    height: 2em;
    width: 2em;
    background-color: antiquewhite;
    border: solid black 0.1em;
}
